.block {
    width: 10px;
    height: 10px;
    position: absolute;
    background: black;
}
.row1 {
    top: 0px;
    position: absolute;
}
.row2 {
    top: -10px;
    position: absolute;
}
.row3 {
    top: -20px;
    position: absolute;
}
.block1 {
    -webkit-animation: block1 3s ease-in infinite;
}
.block2 {
    -webkit-animation: block2 3s ease-in infinite;
}
.block3 {
    -webkit-animation: block3 3s ease-in infinite;
}
.block4 {
    -webkit-animation: block4 3s ease-in infinite;
}
.block5 {
    -webkit-animation: block5 3s ease-in infinite;
}
.block6 {
    -webkit-animation: block6 3s ease-in infinite;
}
.block7 {
    -webkit-animation: block7 3s ease-in infinite;
}
.block8 {
    -webkit-animation: block8 3s ease-in infinite;
}
.block9 {
    -webkit-animation: block9 3s ease-in infinite;
}
.col1-block {
    left: 0px;
}
.col2-block {
    left: 10px;
}
.col3-block {
    left: 20px;
}

@-webkit-keyframes block1 {
    0% {opacity: 0; top: 0;}
    25% {opacity: 1; top: 30px;}
    100% {opacity: 1; top: 30px;}
}
@-webkit-keyframes block2 {
    0% {opacity: 0; top: 0;}
    7% {opacity: 0; top: 0;}
    32% {opacity: 1; top: 30px;}
    100% {opacity: 1; top: 30px;}
}
@-webkit-keyframes block3 {
    0% {opacity: 0; top: 0;}
    14% {opacity: 0; top: 0;}
    39% {opacity: 1; top: 30px;}
    100% {opacity: 1; top: 30px;}
}
@-webkit-keyframes block4 {
    0% {opacity: 0; top: 0px;}
    21% {opacity: 0; top: 0;}
    46% {opacity: 1; top: 30px;}
    100% {opacity: 1; top: 30px;}
}
@-webkit-keyframes block5 {
    0% {opacity: 0; top: 0px;}
    28% {opacity: 0; top: 0;}
    53% {opacity: 1; top: 30px;}
    100% {opacity: 1; top: 30px;}
}
@-webkit-keyframes block6 {
    0% {opacity: 0; top: 0px;}
    35% {opacity: 0; top: 0;}
    60% {opacity: 1; top: 30px;}
    100% {opacity: 1; top: 30px;}
}
@-webkit-keyframes block7 {
    0% {opacity: 0; top: 0px;}
    42% {opacity: 0; top: 0;}
    67% {opacity: 1; top: 30px;}
    100% {opacity: 1; top: 30px;}
}
@-webkit-keyframes block8 {
    0% {opacity: 0; top: 0px;}
    49% {opacity: 0; top: 0;}
    74% {opacity: 1; top: 30px;}
    100% {opacity: 1; top: 30px;}
}
@-webkit-keyframes block9 {
    0% {opacity: 0; top: 0px;}
    56% {opacity: 0; top: 0;}
    81% {opacity: 1; top: 30px;}
    100% {opacity: 1; top: 30px;}
}
.block-container-title {
    position: absolute;
    color: black;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    font-family: sans-serif;
}
.block-container {
    position: absolute;
    width: 30px;
    height: 40px;
    top: 63.6363636363636363%;
    left: 36.3636363636363636%;
}
.container-builder-animation {
    height: 110px;
    width: 110px;
    position: relative;
    top: 50%;
    left: 50%;
}


